.challenge-category {
    float: left;
}
.challenge-date {
    float: right;
}
.challenge-title {
    font-weight: bold;
    text-align: left;
    font-size: 45px;
}

.challenge-content {
    /* padding: 0 15%; */
    margin-top: 5%;
}
.challenge-video {
    padding: 2% 7%;
    padding-top: 5%;
    
    background: white;
    box-shadow: 0.4px 0.9px 2px 0px rgba(0, 0, 0, 0.13);
    
}

.challenge-people {
    background: white;
    padding: 5%;
    margin-bottom: 10px;
    box-shadow: 0.4px 0.9px 2px 0px rgba(0, 0, 0, 0.13);
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 0;
    
}