.challenge-category {
    float: left;
}
.challenge-date {
    float: right;
}
.challenge-title {
    font-weight: bold;
    text-align: left;
    font-size: 45px;
}
.challenge-content {
    /* padding: 0 15%; */
    padding-top: 5%;
    background: #F9F9F9;
}
.footer {
    height: 2em;
    margin: 0;
    color: white;
    display: inline;
    background: #01426a !important;
}
.challenge-video {
    padding: 2% 7%;
    padding-top: 5%;
    
    background: white;
    box-shadow: 0 0 17.6px 0.4px rgba(0, 0, 0, 0.08);

    
}
.challenge-people {
    background: white;
    padding: 5%;
    margin-bottom: 10px;
    box-shadow: 0 0 17.6px 0.4px rgba(0, 0, 0, 0.08);
    font-size: 1.2em;

}
.people-title {
    font-weight: bold;
}
table {
    width: 100%;
    font-family: Raleway;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: 0.8px;
    text-align: left;
    color: #6d6d6d;

    cursor: pointer;
}
.details-challenge {
    font-size:16px;
}
.video-container {
    padding-left: 5%;
}
.contestant-row {
    width: 25%;
}
.sponsor-row {
    width: 33.3% !important;
}
.view {
    color: #01426a !important;
    font-family: Raleway;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.32;
    letter-spacing: 0.8px;
}

.mentorHead {
    font-size: 22px;
    border-bottom: 0;
    background: #f5f5f5;
}
.sponsorHead {
    font-size: 22px;
    border-bottom: 0;
    background: #f5f5f5;
}
.challengeHead {
    font-size: 22px;
    border-bottom: 0;
    background: #f5f5f5;
}
.tablesearch.input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.table-search {
    width:100%;
    padding: 6px 23px;

    background: #F5F5F5;
    margin: 0;
    box-shadow: 0 !important;
    -webkit-box-shadow: 0 !important;
}
th {
    width:33.3%;
    text-align: center !important;
    border: solid;
    border-width: 1px;
}
.title-challenge {

    margin-top: 7%;

    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
tr {
    text-align: center;
    margin-bottom: 2%;
    border-bottom: solid;
    border-color: #aaa;
    border-width: 2px;
}

.sponsor-row {
    width: 50%;
}
.selected-category {
    
    background: #EAE9E9;
    font-family: circular;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    background: #133A6C;
    color: #ffffff;

}
.challenge-video:nth-child(2) {
    padding: 0;
}
.cross {
    cursor: pointer;
    text-align: right;
    font-size: 25px;
    position: absolute;
    top:0;
    z-index:1000;
    right: 0;
}
/* overlay */
.hidden {
    display:none;
}
.solution-overlay {
    position: fixed; /* Sit on top of the page content */
    /* display: none; */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.overlay-text h1 {
    color: #2b2b2b;
    font-size: 25px;

}
.inner-overlay {

    padding: 1% 5%;
    border-radius: 10px;
    background-color: #f7f7f7;
    border: solid 0 #000000;
    /* width: 50%;
    height: 80%; */
    /* overflow-y: scroll; */
    position: absolute;
    /* display: inline-block; */
    display:relative;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    color: grey;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 999;
    box-shadow: 0 0 17.6px 0.4px rgba(0, 0, 0, 0.08);

}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}

.input-group-overlay {
    margin-top: 5%;
    font-size: 15px;
    color: #6c6c6c;
    font-family: 'circular';
}
.input-group-overlay input {
    background: transparent !important ;
    border-bottom: solid 1.3px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: #e4e3e5;
    
}
.input-group-overlay input:focus {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important ;
    background: transparent !important ;
    border-bottom: solid 1.3px;
    border-color: #01314f;
}
.input-group-overlay-1 {
    margin-top: 5%;
    font-size: 15px;
    color: #6c6c6c;
    font-family: 'circular';
}
.input-group-overlay-1 input {
    background: transparent !important ;
    border-bottom: solid 1.3px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: #e4e3e5;
    
}
.input-group-overlay-1 input:focus {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important ;
    background: transparent !important ;
    border-bottom: solid 1.3px;
    border-color: #01314f;
}
#overlay-inputs {
    margin-bottom: 5%;
    font-size: 2rem;
}
/* end overlay */
.submit {
    margin-top: 7%;
    margin-right: 2%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    border-radius: 5px;
    background-image: linear-gradient(176deg, #2fbf50, #279440);
    box-shadow: 0 0 1.5px 0.5px;

    font-family: circular;
    font-size: 1.4em;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.submit-sol {
    padding: 2% 6%;
    margin-top: 2%;
    border: 0;
    color: white;
    font-family: circular;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    border-radius: 5px;
    background-image: linear-gradient(176deg, #2fbf50, #279440);
    /* box-shadow: 0 0 1.5px 0.5px #000000; */
}
.batch-16 {
    margin-top: 5%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 0;
    
}
#nme2 {
    background: white;
    font-size: 23px;
    font-family: brandon;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px !important;
}
.show-mobile {
    display: none;
}
.show-not-mobile {
    display:block;
}
.table-ka-head {
    border: 0;
}
.table-ka-head:nth-child(2) {
    border-left: solid 1px;
    border-right: solid 1px;
}
.mentorHead td {
    width: 33%;
}
.sponsorHead td {
    width: 33%;
}
.challengeHead td {
    width: 33% !important;
}
.mentorHead td {
    width: 33%;
}
@media screen and (max-width: 1000px) {
    .show-not-mobile {
        display: none;
    }
    .show-mobile {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .inner-overlay {
        width: 95%;
    }
}
select.overlay-input {
    border: solid #ccc 1px;
    background: #f7f7f7;
    padding: 1% 2%;
    margin-top: 5px;
}
@media only screen and (max-width: 1366px) and (min-width: 1000px)  {
    .table-ka-head {
        font-size: 0.75em;        
    }
    .challengeHead td{
        font-size: 0.7em ;
        font-weight: bolder;
    }
    .mentorHead td{
        font-size: 0.7em ;
    }
    .sponsorHead td{
        font-size: 0.7em ;
    }
    .inner-overlay {
        padding: 1% 2%;
    }
}
@media screen and (max-width: 1300px) {
    .title-challenge {
        font-size: 28px;
    }
    .details-challenge {
        font-size: 12px;
    }
    .submit {
        font-size: 16px;
        padding: 2%;
    }
    th {
        font-size: 16px;
    }
    #nme2 {
        font-size: 16px;
    }
    .contestant-row {
        font-size: 12px;
    }
    .sponsor-row {
        font-size: 12px;
    }
    .mentor-row {
        font-size: 12px;
    }
    .sponsorHead {
        font-size: 16px;
    }
    .mentorHead {
        font-size: 16px;
    }
    .challengeHead {
        font-size: 16px;
    }

}

@media screen and (max-width: 768px) {
    #nme2 {
        font-size: 12px !important;
        padding: 1% 2% ;
    }
    .title-challenge {
        font-size: 18px !important;
    }
    .details-challenge {
        font-size: 15px !important;
    }
    th {
        font-size: 15px;
        letter-spacing: 0;
        
    }
    tr {
        font-size: 12px;
        letter-spacing: 0;
        line-height: normal;
    }
    .view {
        font-size: 12px;
    }
}
tbody {
    transition: all .5s linear;
}
.text {
    vertical-align: middle;
    margin-bottom: 0;
}