.react-date-picker input {
    font-size: 1em !important;
}
.faq-title {
    
    font-family: BrandonText;
    font-size: 29px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #000000;

    margin: 4% 0;
}
.faq-question {
    font-family: BrandonText;
    font-size: 23px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #0087e0;
}
.faq-answer {
    font-family: BrandonText;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;
}
.faq-specifc-container {    
    cursor: pointer;
    padding: 0.5% 5%;
}
.white {
    background: white !important;   
}
.border {
    border-bottom: solid;
    border-color: #ddd;
}
.left-text {
    float: left;
}
.right-text {
    float: right;
}
.clear {
    clear: both;
}
.no-display {
    display:none;
}