.navbar {
    background: #01426a !important;
    color: white !important;    
    margin-bottom: 0;

    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
}
a {
    color: white;
    font-weight: bold;
}
.navbar-brand {
    line-height: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}
@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}

    .navbar-brand {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.login-button {
    background: white;
    color: #01426a !important;
    padding: 20%;
    border-radius: 17.5px;
}
@media only screen and (max-width: 1366px) and (min-width: 1000px)  {
    .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
    .navbar {min-height:32px !important}
    .navbar {
        font-size: 1em !important;
    }
}