.container-div {
    margin: 0 10%;
}
.search-bar {
    margin: 2% 0;
}
.problemstatements {
    margin: 3% 0;
}
@media screen and (max-width: 768px) {
    .container-div {
        margin: 0 2%;
    }
}