.absolute-center {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); 

}
.name {
    padding-left: calc(15px + 8vw) !important;
}
.container-div {
    /* margin: 0 10%; */
}
.jumbotron {
    /* padding: 0 calc(15px + 8vw) !important; */
    
    padding-right: calc(15px + 8vw) !important;
    padding-bottom: 5px !important;
    padding-left: calc(15px + 8vw) !important;
    padding-top: 50px !important;
}
#select {
    background: #fff !important;
    border: 0 !important;
}
.padding-for-row {
    padding: 0 20px !important ;   
}
.big-video {
    padding: 0 20px !important ;
    padding-bottom: 15px !important;
    background: #f2f2f2;
}
.for-margin {
    padding: 0 15px !important;
}
/* .home-container {
    background: #f2f2f2;
} */
.selected #select {
    background: #f5f5f5 !important;
}
.search-bar input{
    font-family: circular;
    padding: 0 !important;
    margin-left: 15px;
    background: #f5f5f5;

}
.jumbotron {
    background: #f5f5f5;
}
.search-icon {
    padding: 0;
}
.actual-search {
    background: #F6BE21;
    box-shadow: 0px 2px 9.1px 0.9px rgba(0, 0, 0, 0.09) !important;
}
.problemstatements {
    padding: 0 8vw !important;
}
.the-bar {
    margin-top: 25px;
    padding-left: 25px;
}
.choice-block {
    margin: 0;
    height: 100% !important;
}
.more-details a {
    color: #007bff !important;
}
.choice {
    display: table-cell;
    font-size: 20.7px;
    font-family: circular;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 3 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    cursor: pointer;
    color: #585858 !important;
}
.sorter {
    display: table;
    width: 100%;
    background: #fff;
    box-shadow: -4px 0px 29px 0 rgba(0, 0, 0, 0.03);
    padding: 0 calc(15px + 8vw) !important;
    padding: 0 calc(15px + 8vw);
    padding: 0 -moz-calc(15px + 8vw);
    padding: 0 -webkit-calc(15px + 8vw);
    padding: 0 -o-calc(15px + 8vw);
}
.col-md-12 {
    padding: 0 ;
}
.top-m {
    margin-top: 2em;
}

.search-adv {
    display: inline;
    padding: 0 2%;
    font-size: 1.75rem;
}
.choice select {
    background: #fff !important ;
}
.search-bar{
    padding-left: calc(15px + 8vw) !important;
    padding-left: calc(15px + 8vw);
    padding-left: -moz-calc(15px + 8vw);
    padding-left: -webkit-calc(15px + 8vw);
    padding-left: -o-calc(15px + 8vw);
}
.top-m select {
    background: #01426a;
    color: white;
    padding: 0.5em;
}
.selected {
    background: #f5f5f5;
}

.dropbtn {
    
    padding: 16px;
    font-size: 16px;
    border: none;
    
}

.nav a:first-child {
    padding-left: 0;
}
.navbar .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    padding: 0 calc(15px + 8vw) !important;
    padding: 0 calc(15px + 8vw);
    padding: 0 -moz-calc(15px + 8vw);
    padding: 0 -webkit-calc(15px + 8vw);
    padding: 0 -o-calc(15px + 8vw);
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 2rem;
}
  
/* ::-webkit-input-placeholder { 
    color:    #909;
}
:-moz-placeholder { 
   color:    #909;
   opacity:  1;
}
::-moz-placeholder {
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { 
   color:    #909;
}  */

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f5f5f5;
}

@media screen and (max-width: 1000px) {
    .the-bar {
        margin-top: 3rem;
    }
    .problemstatements {
        margin-top: 3rem !important;
    }
    #nme {
        font-size: 18px;
    }
    .big-challenge {
        margin-top: 5px !important;
        margin-bottom: 0 !important;
    }
    .title {
        margin: 5px 0 !important;
    }
}
@media screen and (min-width: 1366px) {
    .big-video {
        margin-top: 15px;
    }
    .title {
        font-size: 1.75rem !important;
    }
    .category {
        font-size: 1.3rem !important;
    }
    .date {
        font-size: 1.3rem !important;
    }
    .contestants{
        font-size: 1.3rem !important;
    }
    .actual-search {
        width: 75% !important;
        font-size: 1.9rem;
        padding: 0.5px 0;
    }

}
@media only screen and (max-width: 1366px) and (min-width: 799px)  {
    .the-bar {
        margin-top: 65px;
    }
    .choice {
        font-size: 1em !important;
    }
}
@media screen and (max-width: 769px) {
    .actual-search {
        font-size: 16px;
        padding: 4px 0;
    }
    .the-bar {
        margin-top:0;
        padding-left: 15px;
    }   
     #nme {
        padding: 0 5px;
        
    }
    .big-challenge {
        padding: 0;
    }
    .container-div {
        margin: 0 2%;
    }
    .search-bar {
        margin: 5% 0;
    }
    input.question, textarea.question {        
        font-size: 24px !important;
    }
    .search-icon {
        margin: 5% 0;
        font-size: 24px !important;
    }
    .question {
        padding: 0;
        margin: 0;
        font-size: 4rem !important;
    }
    .top-m {
        margin-top: 0 !important;
    }
    .problemstatements {
        padding: 0 !important;
    }
    .big-challenge {
        padding: 0 10px;
    }
    .date {
        font-size: 8px;
    }
    .contestants {
        font-size: 8px;
    }
    .search-bar {
        padding-left: 0 !important;
        width: 95% !important;
    }
    .sorter {
        padding: 0 !important;
    }
    .choice-block {
        font-size: 13px !important;
        text-align: center !important;     
        padding: 0;   
    }
    .search-adv {
        margin: 50px 0 !important;
    }
}
@media screen and (min-width: 768px){
    .br-mob { display: none; }
    .navbar-collapse {
        padding: 0 !important;
    }
}


/*bleh*/
.big-video h3 {
    display: inline-block;
    float: left;
}
.big-video .likes {
    margin-top:20px;
    display: inline-block;
    float: right;
    vertical-align: bottom;
}