.container-div {
    margin: 0 10%;
}
.choice-select {
    margin: 0;
}
#select {
    background: white !important;
    border: 0 !important;
}
.search-bar {
    font-family: BrandonText;
    
    padding: 0%;    
    box-shadow: 0px 2px 9.1px 0.9px rgba(0, 0, 0, 0.09) !important;
}
.search-icon {
    padding: 0;
}
.actual-search {
    background: #F6BE21;
    box-shadow: 0px 2px 9.1px 0.9px rgba(0, 0, 0, 0.09) !important;
}
.problemstatements {
    margin: 3% 0;
}
.the-bar {
    margin-top: 75px;
    padding-left: 30px;
}
.choice-block {
    margin: 0;
    height: 100% !important;
}
.choice {
    display: table-cell;
    font-family: BrandonText;
    font-size: 15px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 3 !important;
    letter-spacing: normal !important;
    text-align: left !important;
    cursor: pointer;
    color: #585858 !important;
}
.sorter {
    display: table;
    width: 100%;
    background: white;
    padding: 0 calc(10% + 30px);
    padding: 0 -moz-calc(10% + 30px);
    padding: 0 -webkit-calc(10% + 30px);
    padding: 0 -o-calc(10% + 30px);

}
.selected {
    background: #f5f5f5;
}
#nme {
    
    height: 100%;
    background: white;
    padding: 0 2%;
}
.dropbtn {
    
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 2rem;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f5f5f5;
}
@media screen and (max-width: 2244px) {
    .actual-search {
        width: 75% !important;
        font-size: 1.9rem;
        padding: 0.5px 0;
    }
    #nme {
        padding: 0.5rem 10px;
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 1000px) {
    .the-bar {
        margin-top: 3rem;
    }
    .problemstatements {
        margin-top: 3rem !important;
    }
}
@media screen and (max-width: 768px) {
    .actual-search {
        font-size: 16px;
        padding: 4px 0;
    }
    .the-bar {
        margin-top:0;
        padding-left: 15px;
    }
    #nme {
        padding: 0 5px;
        
    }
    .big-challenge {
        padding: 0;
    }
    .container-div {
        margin: 0 2%;
    }
    .search-bar {
        margin: 5% 0;
    }
    input.question, textarea.question {        
        font-size: 24px !important;
    }
    .search-icon {
        margin: 5% 0;
        font-size: 24px !important;
    }
    .question {
        padding: 0;
        margin: 0;
        font-size: 4rem !important;
    }
}
