input {
  background: #F5F3F9;
  border: 0;
  font-size: 2rem;
}
#nme {
  border-left: solid #01426a 0.3em;
  min-height: 40px;
  padding: 0 1%;
}
.question {
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  input {
    font-size: 2rem;
    margin: 20px 0;
  }
  .challenge {
    margin: 25px 0;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CEC9CB;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #CEC9CB;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #CEC9CB;
}
@media only screen and (max-width: 1366px) and (min-width: 768px)  {
  input {
    font-size: 1em !important;
  }
  #nme {
    min-height: 25px;
  }
  .glyphicon {
    font-size: 0.8em;
    vertical-align: middle;
  }
  .search-adv {
    font-size: 1em;
  }
  .top-m select {
    padding: 0.2em;
  }
  .loader {
    margin-top: 2em;
  }
}