.title {
    margin: 10px 0; 
    font-family: BrandonText;
    font-size: 1.4rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding: 0 3.3%;
}
.contestants {
    float: left;
}
.date {
    float: right;
}
.category {
    font-size: 1rem;
    text-align: right;
    padding-bottom: 0;
    color: #686868;
}

.clear { clear: both; }
.details {
    font-size: 1rem !important;
    font-family: Raleway;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #686868;
    
}
.challenge {
    
    height: 100%;
    /* background-color: #ffffff !important;   */
    
    
}
.challenge:hover {
    box-shadow: 0px 2px 9.1px 0.9px rgba(0, 0, 0, 0.09) !important;
    cursor: pointer;    
} 
.big-challenge {
    z-index: 70000;
    color: black !important;    
    transition: all .2s ease-in-out;
    margin-top: 2em;
}
@media screen and (max-width: 1000px) {
    .big-challenge {
        margin-top: 3rem;
    }
}
.big-challenge:hover {
    /* transform: scale(1.1); */
}
@media screen and (max-width: 768px) {
    .challenge {
        margin: 0;
    }
}
@media screen and (max-width: 1300px) {
    .big-challenge {
        margin-bottom: 25px;
    }
    .title {
        font-size: 13px !important;
        font-weight: 100 !important;
    }
}
@media screen and (max-width: 1800px) {
    .title {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1366px) and (min-width: 1000px)  {
    .title {
        font-size: 1em !important;
        font-weight: 400 !important;

    }
}