@font-face {
  font-family: 'brandon';
  src: url('./css/brandon-text.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  src: url('./css/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'circular';
  src: url('./css/circular-book.otf') format('opentype');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'circular';
  background: #f5f5f5;
}
html {
  height: 100%;
}
.loader {
  margin-top: 2em;
}