@font-face {
  font-family: 'brandonText';
  src: url('./css/brandon-text.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  src: url('./css/Raleway-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'circular';
  src: url('./css/circular-book.otf') format('opentype');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'brandonText';
  background: #fff;
}
html {
  height: 100%;
}